body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.Main {
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background: #d9d6d6;
    height: 81.5vh;
}
.MainDark {
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background: #2C3539;
    height: 81.5vh;
}

.Details {
    width: 50%;
    box-shadow: 0 0 20px rgba(222, 172, 172, 0.29);
    border-radius: 100px;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #f1f2f6;
    background-image: linear-gradient(315deg, rgba(241, 242, 246, 0.37) 0%, rgba(201, 198, 198, 0.55) 74%); /* Глянцевий градієнт */
}
.DetailsDark {
    width: 50%;
    box-shadow: 0 0 20px rgba(222, 172, 172, 0.29);
    border-radius: 100px;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #5b5c60;
    background-image: linear-gradient(315deg, rgba(211, 213, 220, 0.37) 0%, rgba(168, 165, 165, 0.55) 74%);
}

.poster_block {
    position: relative;
    width: 31%;
    display: flex;
    justify-content: center;
    height: 70%;
}

.poster {
    width: 95%;
    margin: 4px;
    border-radius: 6px;
}

.info {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(222, 172, 172, 0.29);
    width: 40%;
    margin-right: 20px;

    max-height: 500px; /* Максимальна висота блоку */
    overflow: auto; /* Прокрутка, якщо зміст виходить за межі */
    padding: 10px; /* Відступи всередині блоку */
}
.info::-webkit-scrollbar {
    width: 10px;
    height: 30px;
}
.info::-webkit-scrollbar-button {
    background: #666;
    border-radius: 5px;
}
.info::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    height: 20px;
}
.info::-webkit-scrollbar-track-piece:end {
    background: #c5baba;
}
.info::-webkit-scrollbar-track-piece:start {
    background: #d7d1d1;
}


.h3:hover {
    cursor: pointer;
    color: #441f1f;
}
.h3{
    margin: 5px;
}

.badge_block {
    position: absolute;
    right: -68px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #565555;
    padding: 10px;
    height: auto;
}