.MainBlock {
    height: 100%;
    background: #d9d6d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainBlockDark {
    height: 100%;
    background: #2C3539;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MovieList{
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(222, 172, 172, 0.29);
    background-color: #f1f2f6;
    background-image: linear-gradient(315deg, rgba(241, 242, 246, 0.37) 0%, rgba(201, 198, 198, 0.55) 74%);
}
.MovieListDark{
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(222, 172, 172, 0.29);
    background-color: #5b5c60;
    background-image: linear-gradient(315deg, rgba(211, 213, 220, 0.37) 0%, rgba(168, 165, 165, 0.55) 74%);
}

.button {
    width: 40%;
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}


.button:hover {
    background-color: #8d8d8f;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button span {
    margin: 0 10px;
    font-size: 16px;
}
.but{
    background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(238, 192, 192, 0.38);
    border-radius: 10px;
    display: block;
}

.but:hover {
    background-position: right center;
    color: #2d2b2b;
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
